<div class="tile tile-warning">
  <div class="tile-heading">{{ heading_title }}</div>
  <div class="tile-body"><i class="fa fa-users"></i>
    <div class="tile-body-right">
      <h2 class="tile-total">{{ total }}</h2>
    </div>
  </div>
  <div class="tile-footer"><a href="{{ online }}">{{ text_view }}</a></div>
</div>
